body{
  background-color: teal;
}
#ftr{
  background-color: whitesmoke;
  font-size: 15px;
  border-color: red;
  color: teal;
  
  
  
  
}
#st{
  text-align: center;
  font-size: 50px;
  color: aqua
}
div{
  background-color: whitesmoke;
  font-size: 50px;
  text-align: center;
  color: teal;
  
  
}
#p1{
  background-color: whitesmoke;
  text-align: center;
  color: red;
  font-size: 40px;
  
}
#b1{
  font-size: 50px;
  
  
  
  
}
#b2{
  
  font-size: 50px;
}
#ol1{
  font-size: 20px;
  color: aqua;
  
}
#m1{
  height: 400px;
  width: 380px;
  align: rigth;
  
  
}








